In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
data = pd.read_excel(r'E:\Sample_Project_Executionlist\iris.xls')

In [3]:
data.head()

    SL   SW   PL   PW Classification
0  5.1  3.5  1.4  0.2    Iris-setosa
1  4.9  3.0  1.4  0.2    Iris-setosa
2  NaN  3.2  1.3  0.2    Iris-setosa
3  4.6  3.1  1.5  0.2    Iris-setosa
4  5.0  3.6  1.4  0.2    Iris-setosa

In [4]:
data.isna().sum()

SL                7
SW                6
PL                6
PW                0
Classification    0
dtype: int64

In [5]:
data['SL']=data['SL'].replace(np.NaN,data['SL'].median())
data['SW']=data['SW'].replace(np.NaN,data['SW'].median())
data['PL']=data['PL'].replace(np.NaN,data['PL'].median())

In [6]:
data.isna().sum()

SL                0
SW                0
PL                0
PW                0
Classification    0
dtype: int64

In [7]:
Red_Stacks = data[data['Classification'] == 'Iris-setosa']

In [8]:
PMT_Red = Red_Stacks[Red_Stacks['SL']==5.0]

In [9]:
PMT_Red

     SL   SW   PL   PW Classification
4   5.0  3.6  1.4  0.2    Iris-setosa
7   5.0  3.4  1.5  0.2    Iris-setosa
25  5.0  3.0  1.6  0.2    Iris-setosa
26  5.0  3.4  1.6  0.4    Iris-setosa
35  5.0  3.2  1.2  0.2    Iris-setosa
40  5.0  3.5  1.3  0.3    Iris-setosa
43  5.0  3.0  1.6  0.6    Iris-setosa
49  5.0  3.3  1.4  0.2    Iris-setosa

In [15]:
PMT_Red.to_excel(r'E:\Sample_Project_Executionlist\pandas_to_excel.xlsx', sheet_name='new_sheet_name',index=False)

In [12]:
from xlwt import Workbook

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: xlwt in c:\users\admin\appdata\roaming\python\python310\site-packages (1.3.0)
Note: you may need to restart the kernel to use updated packages.